<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="metatag" href="/tabs/metatag">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Metatag Ad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stroeer-sdk" href="/tabs/stroeer-sdk">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Stroeer SDK Ad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="integration-test" href="/tabs/integration-test">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Integration test</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
