<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SDK Interstitial Ad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SDK Interstitial Ad</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="openAdInspector()">Ad Inspector</ion-button>
  <ion-button expand="full" (click)="getInterstitialAd()">Get SDK Interstitial Ad</ion-button>
</ion-content>
